/* background page color */
  body { background: #e3f1fa;
  }

/* Setting the text color for the 'h1' element */    
  h1 { color: #0f4d76;
  }

/* color change when tabPanel is selected in navbarMenu */
  
  .navbar {background-color: #6ebee0;
  }

 .nav-link.active {background-color:  #2084c9;
}

 .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  background-color: #0f4d76;
}