/* background page color */
  body { background: #e3f1fa;
  color: black;
      font-size: 1rem;
  }
  
  p { color: black;
  }

/* Setting the text color for the 'h1' element */    
  h1 { color: #0f4d76;
  }




 /* NAVBARMENU STYLING*/
 
.navbar.navbar-default {
    background-color: #0d485d !important;
}

 .nav-link.active {background-color:  #2084c9;
 color: #FFFFFF;
}

/* color change when tabPanel is selected in navbarMenu */
 .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  background-color: #0f4d76;
}


/* IMAGE STYLING*/ 
/* resize banner images dynamically */  
.banner {
  display:block;
  max-width: 100%;
  width: auto; 
}

/* FOOTER STYLING */
.footer {
  width: 100%;
}

/* resize logos in footer */
.footer img {
  display: inline-block;
  width: auto;
  max-height: 30px;
}

/* logo positioning and spacing */
.footer span {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
}

/* paragraph elements in footer */
.footer p {
  text-align: center;
}



p {
  color: black !important;
}